<h2>Ini halaman about</h2>
<div class="col-lg-6 col-lg-6">
<img src="/images/mdp-people.jpg" alt="Tentang MDP">
<div></div>
        <h5 class="card-title text-lg font-bold">Universitas Multi Data Palembang</h5>
        <p class="card-text text-gray-700">Kampus Berinovasi, kampus yang nyaman seluruh fasilitas di dalam kampus</p>
    </div>  